<!DOCTYPE html>
<html >
<head>
	{% load staticfiles %}
	<meta charset="utf-8"> 
	<title>Docs</title>
	
	<link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
	<link rel="stylesheet" href="{% static "css/index.css" %}">
</head>
<body>
	<!-- 导航条 -->
	<div class="navbar navbar-inverse navbar-fixed-top" role="navagtion">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse-1">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				
			</div>
			<div class="collapse navbar-collapse" id="collapse-1">
				<ul class="nav navbar-nav">
					<li><a href="/home">Home</a>
					<li><a href="/people">People</a>
					<li><a href="/publications">Publications</a>
					<li><a href="/docs">Docs</a>
					<li><a href="/gallery">Gallery</a>
					<li><a href="/access">Access</a>
				</ul>
			</div>
		</div>
	</div>
	<!-- 导航条 -->

	<!-- 网页内容 -->
	<div class="container">
		<div class="row">
			<div class="col-md-10">
			 <h2>服务器文档</h2>
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-10">
				<table class="table table-striped">
					<tr>
						<th>文档名</th>
						<th>发布时间</th>
						<th>作者</th>
						<th>文档格式</th>
						<th>备注</th>
					</tr>
					<tr>
						<td><a href="/media/server/Torque使用手册.pdf" target="_blank">袁老师维护的Torque使用手册</a></td>
						<td>2017-05-07</td>
						<td>袁平波</td>
						<td>PDF</td>
						<td><a href="http://mccipc.ustc.edu.cn/mediawiki/images/4/47/Torque%E4%BD%BF%E7%94%A8%E6%89%8B%E5%86%8C.pdf">文档在线网址</a>，有可能在实验室访问不了（估计是网络配置的原因）</td>
					</tr>
					<tr>
						<td><a href="/media/server/git_tutorial.pdf" target="_blank">Git 教程</a></td>
						<td>2016-10-11</td>
						<td>王云峰</td>
						<td>PDF</td>
						<td>一些稍微进阶的Git命令的演示和说明</td>
					</tr>
					<tr>
						<td><a href="/media/server/集群使用简介.pdf" target="_blank">集群使用简介</a></td>
						<td>2016-11-12</td>
						<td>黄江雷</td>
						<td>PDF</td>
						<td>包括集群节点类型，Tensorflow说明等内容</td>
					</tr>
					<tr>
						<td><a href="/media/server/torque_tutorial.pdf" target="_blank">GPU Cluster Usage Tutorial</a></td>
						<td>2016-11-12</td>
						<td>王云峰</td>
						<td>PDF</td>
						<td>包括集群登录、任务提交等内容</td>
					</tr>
					<tr>
						<td><a href="/media/server/fix-tab-in-xfce.txt" target="_blank">VNC下按Tab键无法自动补全问题的修复</a></td>
						<td>2015-03-24</td>
						<td>张鹏</td>
						<td>TXT</td>
						<td></td>
					</tr>
					<tr>
						<td><a href="/media/server/Torch.pptx" target="_blank">Torch简介</a></td>
						<td>2015-12-04</td>
						<td>张鹏</td>
						<td>PPT</td>
						<td></td>
					</tr>
					<tr>
						<td><a href="/media/server/GPU工作站和caffe完全攻略.pdf" target="_blank">GPU工作站和caffe完全攻略</a></td>
						<td>2015-10-13</td>
						<td>张鹏</td>
						<td>PDF</td>
						<td>包括244登录访问方式和Caffe配置</td>
					</tr>
				</table>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-md-10">
			 <h2>Paper Reading</h2>
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-10">
				<table class="table table-striped">
					<tr>
						<th>文档名</th>
						<th>发布时间</th>
						<th>作者</th>
						<th>文档格式</th>
						<th>备注</th>
					</tr>
					<tr>
						<td><a href="/media/paper/Deep Neural Network Compression and Speedup.pptx" target="_blank">Deep Neural Network Compression and Speedup</a></td>
						<td>2017-07-10</td>
						<td>周争光</td>
						<td>PPT</td>
						<td>网络压缩工作介绍</td>
					</tr>
				</table>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-md-10">
			 <h2>讲座</h2>
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-10">
				<table class="table table-striped">
					<tr>
						<th>文档名</th>
						<th>发布时间</th>
						<th>作者</th>
						<th>文档格式</th>
						<th>备注</th>
					</tr>
					<tr>
						<td><a href="/media/lecture/Web Development.pdf" target="_blank">Web Development</a></td>
						<td>2017-05-24</td>
						<td>孙韶言</td>
						<td>PDF</td>
						<td>网站开发和检索系统介绍</td>
					</tr>
					<tr>
						<td><a href="/media/lecture/C++ Lecture 1.pdf" target="_blank">C++ Lecture 1</a></td>
						<td>2016-09-13</td>
						<td>孙韶言</td>
						<td>PDF</td>
						<td>C++讲座</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
	<!-- 网页内容 -->
		
	<!-- 页面底部版权声明 -->
	<div class="container">
		<footer class="footer">
			<p>&copy; 2017 1210 Lab</p>
		</footer>
	</div>
	<!-- 页面底部版权声明 -->

	<!-- Js 文件 -->
	<script src="{% static "js/jquery.min.js" %}"></script>
	<script src="{% static "js/bootstrap.min.js" %}"></script>
	<!-- Js 文件 -->
	<!-- Js 文件 -->
</body>
</html>
