<!DOCTYPE html>
<html lang="en">
<head>
	{% load staticfiles %}
	<meta charset="utf-8"> 
	<title>Gallery</title>
	
	<link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
	<link rel="stylesheet" href="{% static "css/index.css" %}">


</head>
<body>
	<!-- 导航条 -->
	<div class="navbar navbar-inverse navbar-fixed-top" role="navagtion">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse-1">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				
			</div>
			<div class="collapse navbar-collapse" id="collapse-1">
				<ul class="nav navbar-nav">
					<li><a href="/home">Home</a>
					<li><a href="/people">People</a>
					<li><a href="/docs">Docs</a>
					<li><a href="/gallery">Gallery</a>
					<li><a href="/links">Links</a>
					<li><a href="/access">Access</a>
				</ul>
			</div>
		</div>
	</div>
	<!-- 导航条 -->

	<!-- 网页内容 -->
	<div class="container">
		<div class="row">
			<div class="col-md-10">
				<h2>天柱山</h2>
				<div id="myCarousel" class="carousel slide">
				    <!-- 轮播（Carousel）指标 -->
				    <ol class="carousel-indicators">
				        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
				        <li data-target="#myCarousel" data-slide-to="1"></li>
				        <li data-target="#myCarousel" data-slide-to="2"></li>
				    </ol>   
				    <!-- 轮播（Carousel）项目 -->
				    <div class="carousel-inner">
				        <div class="item active">
				            <img src="/media/gallery/tianzhushan/1.jpg" alt="天柱山">
				        </div>
				        <div class="item">
				            <img src="/media/gallery/tianzhushan/2.jpg" alt="天柱山">
				        </div>
				        <div class="item">
				            <img src="/media/gallery/tianzhushan/3.jpg" alt="天柱山">
				        </div>
				        <div class="item">
				            <img src="/media/gallery/tianzhushan/4.jpg" alt="天柱山">
				        </div>
				        <div class="item">
				            <img src="/media/gallery/tianzhushan/5.jpg" alt="天柱山">
				        </div>
				    </div>
				    <!-- 轮播（Carousel）导航 -->
				    <a class="carousel-control left" href="#myCarousel" 
				        data-slide="prev">&lsaquo;
				    </a>
				    <a class="carousel-control right" href="#myCarousel" 
				        data-slide="next">&rsaquo;
				    </a>
				</div>
			</div>
		</div>
	</div>
	<!-- 网页内容 -->
		
	<!-- 页面底部版权声明 -->
	<div class="container">
		<footer class="footer">
			<p>&copy; 2017 1210 Lab</p>
		</footer>
	</div>
	<!-- 页面底部版权声明 -->

	<!-- Js 文件 -->
	<script src="{% static "js/jquery.min.js" %}"></script>
	<script src="{% static "js/bootstrap.min.js" %}"></script>
	<!-- Js 文件 -->
	<!-- Js 文件 -->
</body>
</html>
