<!DOCTYPE html>
<html lang="en">
<head>
	{% load staticfiles %}
	<meta charset="utf-8"> 
	<title>Home</title>
	
	<link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
	<link rel="stylesheet" href="{% static "css/index.css" %}">
</head>
<body>
	<!-- 导航条 -->
	<div class="navbar navbar-inverse navbar-fixed-top" role="navagtion">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse-1">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				
			</div>
			<div class="collapse navbar-collapse" id="collapse-1">
				<ul class="nav navbar-nav">
					<li><a href="/">Home</a>
					<li><a href="/people">People</a>
					<li><a href="/publications">Publications</a>
					<li><a href="/docs">Docs</a>
					<li><a href="/gallery">Gallery</a>
					<li><a href="/access">Access</a>
				</ul>
			</div>
		</div>
	</div>
	<!-- 导航条 -->

	<!-- 网页内容 -->
	<div class="container">
		<div class="row">
			<div class="col-md-10">
			 <h2>Welcome to 1210 Lab!</h2>
			 <p>Welcome to Houqiang Li and Wengang Zhou's Lab homepage.</p>
			 <p>Our research group is in Lab of Multimedia Computing and Communication (<a href="http://mcc.ustc.edu.cn/" target="_blank">MCC</a>), University of Science and Technology of China (<a href="http://en.ustc.edu.cn/" target="_blank">USTC</a>). Research in our lab mainly focus on <strong>image/video coding</strong>, <strong>multimedia retrieval</strong>, <strong>video understanding</strong>, and <strong>computer vision</strong>. Especially, our research projects include image retrieval, action recognition, sign language recognition, tracking, etc.</p>

			 <h3>News</h3>
			 <ul>
			 	<li>2017.07.20: One paper accepted to <a ref="http://www.acmmm.org/2017/" target="_blank">ACM Multimedia 2017</a>!</li>
			 	<li>2017.08.18: One paper accepted to <a ref="http://2017.ieeeicip.org/" target="_blank">ICIP 2017</a>!</li>
			 </ul>
			</div>
		</div>
	</div>
	<!-- 网页内容 -->
		
	<!-- 页面底部版权声明 -->
	<div class="container">
		<footer class="footer">
			<p>&copy; 2017 1210 Lab</p>
		</footer>
	</div>
	<!-- 页面底部版权声明 -->

	<!-- Js 文件 -->
	<script src="{% static "js/jquery.min.js" %}"></script>
	<script src="{% static "js/bootstrap.min.js" %}"></script>
	<!-- Js 文件 -->
	<!-- Js 文件 -->
</body>
</html>
