<!DOCTYPE html>
<html lang="en">
<head>
	{% load staticfiles %}
	<meta charset="utf-8"> 
	<title>Publications</title>
	
	<link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
	<link rel="stylesheet" href="{% static "css/index.css" %}">
	<style type="text/css">
		div.topshootbar {
		    margin: 0px 0px 0px 0px;
		    padding: 0px;
/*		    border: solid #3399FF;*/
		    border-width: 0px 0px 1px 1px;
		    letter-spacing: 0.05em;
		    font-size: 120%;
		}
		ol {
			font-weight: bold;
		}
		em {
			font-weight: normal;
		}
		.paper-proceeding {
			font-weight: normal;
		}
		h2 {
			padding-top: 80px;
		}
		.back-to-top {
		    cursor: pointer;
		    position: fixed;
		    bottom: 20px;
		    right: 20%;
		    display:none;
		}
	</style>
</head>
<body>
	<!-- 导航条 -->
	<div class="navbar navbar-inverse navbar-fixed-top" role="navagtion">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse-1">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				
			</div>
			<div class="collapse navbar-collapse" id="collapse-1">
				<ul class="nav navbar-nav">
					<li><a href="/home">Home</a>
					<li><a href="/people">People</a>
					<li><a href="/publications">Publications</a>
					<li><a href="/docs">Docs</a>
					<li><a href="/gallery">Gallery</a>
					<li><a href="/access">Access</a>
				</ul>
			</div>
		</div>
	</div>
	<!-- 导航条 -->

	<!-- 网页内容 -->
	<div class="container">
		<div class="row">
			<div class="col-md-10">
			 <h1 align="center">Publications</h1></br></br>
			 <div class="topshootbar">
				 [<a href="#2017">2017</a>]&nbsp;&nbsp;&nbsp;
				 [<a href="#2016">2016</a>]&nbsp;&nbsp;&nbsp;
				 [<a href="#2015">2015</a>]&nbsp;&nbsp;&nbsp;
				 [<a href="#2014">2014</a>]&nbsp;&nbsp;&nbsp;
				 [<a href="#2013">2013</a>]&nbsp;&nbsp;&nbsp;
				 [<a href="#2012">2012</a>]&nbsp;&nbsp;&nbsp;
				 [<a href="#2011">2011</a>]&nbsp;&nbsp;&nbsp;
				 [<a href="#2010">2010</a>]&nbsp;&nbsp;&nbsp;
				 [<a href="#before2010">Before 2010</a>]
			 </div>
			 <!-- Pubs in 2017 -->
			 <h2 id="2017">2017</h2>
			 	<h4>Journal</h4>
			 		<ol>
			 			<li><div>
		 					<strong>
				 				Local Residual Similarity for Image Re-ranking
				 			</strong><br>
				 			<em>
				 				Shaoyan Sun, Ying Li, Wengang Zhou, Qi Tian, and Houqiang Li
				 			</em>
				 			<p class="paper-proceeding">
				 				Accepted to Information Sciences, July 2017
				 			</p>
					 	</div></li>

					 	<li><div>
		 					<strong>
				 				Picking Neural Activations for Fine-grained Localization and Description
				 			</strong><br>
				 			<em>
				 				Xiaopeng Zhang, Hongkai Xiong, Wengang Zhou, Weiyao Lin, and Qi Tian
				 			</em>
				 			<p class="paper-proceeding">
				 				Accepted to IEEE Transactions on Multimedia (TMM), May 2017
				 			</p>
					 	</div></li>

					 	<li><div>
		 					<strong>
				 				Collaborative Index Embedding for Image Retrieval
				 			</strong><br>
				 			<em>
				 				Wengang Zhou, Houqiang Li, Jian Sun, and Qi Tian
				 			</em>
				 			<p class="paper-proceeding">
				 				Accepted to IEEE Transactions on Pattern Analysis and Machine Intelligence (TPAMI), Feb. 2017
				 			</p>
					 	</div></li>

			 		</ol>

			 	<h4>Conference</h4>
					<ol>
			 			<li><div>
		 					<strong>
				 				Orientation Estimation Network
				 			</strong><br>
				 			<em>
				 				Jie Sun, Wengang Zhou, and Houqiang Li
				 			</em>
				 			<p class="paper-proceeding">
				 				Accepted to International Conference on Image and Graphics (ICIG), July 2017
				 			</p>
					 	</div></li>

					 	<li><div>
		 					<strong>
				 				Deep Supervised Quantization by Self-Organized Map
				 			</strong><br>
				 			<em>
				 				Min Wang, Wengang Zhou, Qi Tian, Junfu Pu, and Houqiang Li
				 			</em>
				 			<p class="paper-proceeding">
				 				Accepted to ACM International Conference on Multimedia (MM), Full Paper, July 2017
				 			</p>
					 	</div></li>

					 	<li><div>
		 					<strong>
				 				Quasi Rate Distoration Optimization for Binary Hashing
				 			</strong><br>
				 			<em>
				 				Yiding Liu, Wengang Zhou, and Houqiang Li
				 			</em>
				 			<p class="paper-proceeding">
				 				Accepted to International Conference on Image Processing (ICIP), May 2017
				 			</p>
					 	</div></li>

					 	<li><div>
		 					<strong>
				 				No-Reference Image Quality ssessment based on Internal Generative Mechanism
				 			</strong><br>
				 			<em>
				 				Xinchun Qian, Wengang Zhou, and Houqiang Li
				 			</em>
				 			<p class="paper-proceeding">
				 				International Conference on Multimedia Modelling (MMM), pp. 264-276, 2017
				 			</p>
					 	</div></li>

			 		</ol>


			 <!-- Pubs in 2016 -->
			 <h2 id="2016">2016</h2>
			 	<h4>Journal</h4>
			 		<ol>
			 			<li><div>
		 					<strong>
				 				Similar Reference Image Quality Assessment: A New Database and A Trial with Local Feature Matching
				 			</strong><br>
				 			<em>
				 				Qingbo Lu, Wengang Zhou, and Houqiang Li
				 			</em>
				 			<p class="paper-proceeding">
				 				Sensing and Imaging, vol. 17, no. 1, pp. 1-20, November 2016
				 			</p>
					 	</div></li>

					 	<li><div>
		 					<strong>
				 				A No-Reference Image Sharpness Metric Based on Structural Information Using Sparse Representation
				 			</strong><br>
				 			<em>
				 				Qingbo Lu, Wengang Zhou, and Houqiang Li
				 			</em>
				 			<p class="paper-proceeding">
				 				Information Sciences, vol. 369, pp. 334-346, 2016
				 			</p>
					 	</div></li>

					 	<li><div>
		 					<strong>
				 				Democratic Diffusion Aggregation for Image Retrieval
				 			</strong><br>
				 			<em>
				 				Zhanning Gao, Jianru Xue, Wengang Zhou, Shanmin Pang, and Qi Tian
				 			</em>
				 			<p class="paper-proceeding">
				 				IEEE Transactions on Multimedia (TMM), vol. 18, no. 8, pp. 1661-1674, Aug. 2016
				 			</p>
					 	</div></li>

					 	<li><div>
		 					<strong>
				 				Robust Blur Kernel Estimation for License Plate Images from Fast Moving Vehicles
				 			</strong><br>
				 			<em>
				 				Qingbo Lu, Wengang Zhou, Lu Fang, and Houqiang Li
				 			</em>
				 			<p class="paper-proceeding">
				 				IEEE Transactions on Image Processing (TIP), vol. 25, no. 5, pp. 2311-2323, Feb. 2016
				 			</p>
					 	</div></li>

					 	<li><div>
		 					<strong>
				 				Fused One-vs-All Features with Semantic Alignments for Fine-Grained Visual Categorization
				 			</strong><br>
				 			<em>
				 				Xiaopeng Zhang, Hongkai Xiong, Wengang Zhou, and Qi Tian
				 			</em>
				 			<p class="paper-proceeding">
				 				IEEE Transactions on Image Processing (TIP), vol. 25, no. 2, pp. 878-892, 2016
				 			</p>
					 	</div></li>

					 	<li><div>
		 					<strong>
				 				Effective Active Skeleton Representation for Low Latency Human Action Recognition
				 			</strong><br>
				 			<em>
				 				Xingyang Cai, Wengang Zhou, Lei Wu, Jiebo Luo, and Houqiang Li
				 			</em>
				 			<p class="paper-proceeding">
				 				IEEE Transactions on Multimedia (TMM), vol. 18, no. 2, pp. 141-154, 2016
				 			</p>
					 	</div></li>

					 	<li><div>
		 					<strong>
				 				Scalable Feature Matching by Dual Cascaded Scalar Quantization for Image Retrieval
				 			</strong><br>
				 			<em>
				 				Wengang Zhou, Ming Yang, Xiaoyu Wang, Houqiang Li, Yuanqing Lin, and Qi Tian
				 			</em>
				 			<p class="paper-proceeding">
				 				IEEE Transactions on Pattern Analysis and Machine Intelligence (TPAMI), vol. 38, no. 1, pp. 159-171, 2016
				 			</p>
					 	</div></li>

					 	<li><div>
		 					<strong>
				 				Uniforming residual vector distribution for distinctive image representation
				 			</strong><br>
				 			<em>
				 				Zhen Liu, Houqiang Li, Wengang Zhou, and Qi Tian
				 			</em>
				 			<p class="paper-proceeding">
				 				IEEE Transactions on Circuits and Systems for Video Technology (TCSVT), vol. 26, no. 2, pp. 375-384, 2016
				 			</p>
					 	</div></li>

					 	<li><div>
		 					<strong>
				 				Scalable Object Retrieval with Compact Image Representation from Generic Object Regions
				 			</strong><br>
				 			<em>
				 				Shaoyan Sun, Wengang Zhou, Houqiang Li, and Qi Tian
				 			</em>
				 			<p class="paper-proceeding">
				 				ACM Transactions on Multimedia Computing Communications and Applications (TOMM), vol. 12, no. 29, 2016
				 			</p>
					 	</div></li>

			 		</ol>

			 	<h4>Conference</h4>
					<ol>
					 	<li><div>
		 					<strong>
				 				Compressive Tracking with Adaptive Color Feature Selection and Foreground Modeling
				 			</strong><br>
				 			<em>
				 				Tianqi Zheng, Chao Xie, Wengang Zhou, and Houqiang Li
				 			</em>
				 			<p class="paper-proceeding">
				 				IEEE International Conference on Visual Communications and Image Processing (VCIP), pp. 1-4, 2016
				 			</p>
					 	</div></li>

					 	<li><div>
		 					<strong>
				 				Adaptively Weighted Graph Fusion for Image Retrieval
				 			</strong><br>
				 			<em>
				 				Xuya Wang, Wengang Zhou, Qi Tian, and Houqiang Li
				 			</em>
				 			<p class="paper-proceeding">
				 				ACM International Conference on Internet Multimedia Computing and Service (ICIMCS), pp. 18-21, 2016
				 			</p>
					 	</div></li>

					 	<li><div>
		 					<strong>
				 				Improve Visual Tracking by End-to-end Multi-Tracker Selection
				 			</strong><br>
				 			<em>
				 				Tianqi Zheng, Chao Xie, Wengang Zhou, and Houqiang Li
				 			</em>
				 			<p class="paper-proceeding">
				 				ACM International Conference on Internet Multimedia Computing and Service (ICIMCS), pp. 242-245, 2016
				 			</p>
					 	</div></li>

					 	<li><div>
		 					<strong>
				 				Sparse Matrix based Hashing for Approximate Nearest Neighbor Search
				 			</strong><br>
				 			<em>
				 				Min Wang, Wengang Zhou, Qi Tian, and Houqiang Li
				 			</em>
				 			<p class="paper-proceeding">
				 				Pacific-Rim Conference on Multimedia (PCM), pp. 559-568, June 2016
				 			</p>
					 	</div></li>

					 	<li><div>
		 					<strong>
				 				Linear Distance Preserving Pseudo-Supervised and Unsupervised Hashing
				 			</strong><br>
				 			<em>
				 				Min Wang, Wengang Zhou, Qi Tian, Zheng-jun Zha, and Houqiang Li
				 			</em>
				 			<p class="paper-proceeding">
				 				ACM International Conference on Multimedia (MM), pp. 1257-1266, long paper, 1257-1266, 2016
				 			</p>
					 	</div></li>

					 	<li><div>
		 					<strong>
				 				Sign Language Recognition with Long Short Term Memory
				 			</strong><br>
				 			<em>
				 				Tao Liu, Wengang Zhou, and Houqiang Li
				 			</em>
				 			<p class="paper-proceeding">
				 				IEEE International Conference on Image Processing (ICIP), pp. 2871-2875, 2016
				 			</p>
					 	</div></li>

					 	<li><div>
		 					<strong>
				 				Sign Language Recognition based on Adaptive HMMs with Data Augmentation
				 			</strong><br>
				 			<em>
				 				Dan Guo, Wengang Zhou, Meng Wang, and Houqiang Li
				 			</em>
				 			<p class="paper-proceeding">
				 				IEEE International Conference on Image Processing (ICIP), pp. 2876-2880, 2016
				 			</p>
					 	</div></li>

					 	<li><div>
		 					<strong>
				 				Chinese Sign Language Recognition with Adaptive HMM
				 			</strong><br>
				 			<em>
				 				Jihai Zhang, Wengang Zhou, Chao Xie, Junfu Pu, and Houqiang Li
				 			</em>
				 			<p class="paper-proceeding">
				 				IEEE International Conference on Multimedia and Expo (ICME), pp. 1-6, 2016
				 			</p>
					 	</div></li>

					 	<li><div>
		 					<strong>
				 				Picking Deep Filter Responses for Fine-grained Image Recognition
				 			</strong><br>
				 			<em>
				 				Xiaopeng Zhang, Hongkai Xiong, Wengang Zhou, Weiyao Lin, and Qi Tian
				 			</em>
				 			<p class="paper-proceeding">
				 				IEEE International Conference on Computer Vision and Pattern Recognition (CVPR), pp. 1134-1142, 2016
				 			</p>
					 	</div></li>

					 	<li><div>
		 					<strong>
				 				Sign Language Recognition Based on Trajectory Modeling with HMMs
				 			</strong><br>
				 			<em>
				 				Junfu Pu, Wengang Zhou, Jihai Zhang, and Houqiang Li
				 			</em>
				 			<p class="paper-proceeding">
				 				International Conference on Multimedia Modelling (MMM), pp. 686-697, 2016
				 			</p>
					 	</div></li>

					 	<li><div>
		 					<strong>
				 				Breath Motion State Estimation on 4D CT Rib Cage Images
				 			</strong><br>
				 			<em>
				 				Chao Xie, Wengang Zhou, and Houqiang Li
				 			</em>
				 			<p class="paper-proceeding">
				 				International Conference on Multimedia Modelling (MMM), pp. 818-828, 2016
				 			</p>
					 	</div></li>

			 		</ol>


			<!-- Pubs in 2015 -->
			<h2 id="2015">2015</h2>
			 	<h4>Journal</h4>
			 		<ol>
			 			<li><div>
		 					<strong>
				 				Heterogeneous Graph Propagation for Large-Scale Web Image Search
				 			</strong><br>
				 			<em>
				 				Lingxi Xie, Qi Tian, Wengang Zhou, and Bo Zhang
				 			</em>
				 			<p class="paper-proceeding">
				 				IEEE Transactions on Image Processing (TIP), vol. 24, no. 1, pp. 4287-4298, 2015
				 			</p>
					 	</div></li>

					 	<li><div>
		 					<strong>
				 				BSIFT: towards Data-Independent Codebook for Large Scale Image Search
				 			</strong><br>
				 			<em>
				 				Wengang Zhou, Houqiang Li, Richang Hong, Yijuan Lu, and Qi Tian
				 			</em>
				 			<p class="paper-proceeding">
				 				IEEE Transactions on Image Processing (TIP), vol. 24, no. 3, pp. 967-979, 2015
				 			</p>
					 	</div></li>

					 	<li><div>
		 					<strong>
				 				Uniting Keypoints: Local Visual Information Fusion for Large Scale Image Search
				 			</strong><br>
				 			<em>
				 				Zhen Liu, Houqiang Li, Wengang Zhou, and Qi Tian
				 			</em>
				 			<p class="paper-proceeding">
				 				IEEE Transactions on Multimedia (TMM), vol. 17, no. 4, pp. 538-548, 2015
				 			</p>
					 	</div></li>

					 	<li><div>
		 					<strong>
				 				Visual word expansion and BSIFT verification for large scale image search
				 			</strong><br>
				 			<em>
				 				Wengang Zhou, Houqiang Li, Yijuan Lu, and Qi Tian
				 			</em>
				 			<p class="paper-proceeding">
				 				Multimedia System Journal (MMSJ), vol. 21, no. 3, pp. 245-254, 2015
				 			</p>
					 	</div></li>

			 		</ol>

			 	<h4>Conference</h4>
					<ol>
					 	<li><div>
		 					<strong>
				 				Attribute Mining for Scalable 3D Human Action Recognition
				 			</strong><br>
				 			<em>
				 				Xingyang Cai, Wengang Zhou, and Houqiang Li
				 			</em>
				 			<p class="paper-proceeding">
				 				ACM International Conference on Multimedia (MM), 1075-1078, 2015
				 			</p>
					 	</div></li>

					 	<li><div>
		 					<strong>
				 				Scalable local feature matching without visual codebook training
				 			</strong><br>
				 			<em>
				 				Wengang Zhou, Houqiang Li, and Qi Tian
				 			</em>
				 			<p class="paper-proceeding">
				 				ACM International Conference on Internet Multimedia Computing and Service (ICIMCS), 2015
				 			</p>
					 	</div></li>

					 	<li><div>
		 					<strong>
				 				Rank-aware Graph Fusion with Contextual Dissimilarity Measurement for Image Retrieval
				 			</strong><br>
				 			<em>
				 				Xu Xie, Wengang Zhou, Houqiang Li, and Qi Tian
				 			</em>
				 			<p class="paper-proceeding">
				 				IEEE International Conference on Image Processing (ICIP), 2015
				 			</p>
					 	</div></li>

					 	<li><div>
		 					<strong>
				 				Sign Language Recognition using Real-Sense
				 			</strong><br>
				 			<em>
				 				Jie Huang, Wengang Zhou, Houqiang Li, and Weiping Li
				 			</em>
				 			<p class="paper-proceeding">
				 				IEEE China Summit and International Conference on Signal and Information Processing (ChinaSIP), 2015
				 			</p>
					 	</div></li>

					 	<li><div>
		 					<strong>
				 				A New System forChinese Sign Language Recognition
				 			</strong><br>
				 			<em>
				 				Jihang Zhang, Wengang Zhou, and Houqiang Li
				 			</em>
				 			<p class="paper-proceeding">
				 				IEEE China Summit and International Conference on Signal and Information Processing (ChinaSIP), 2015
				 			</p>
					 	</div></li>

					 	<li><div>
		 					<strong>
				 				Fast Democratic Aggregation and Query Fusion for Image Search
				 			</strong><br>
				 			<em>
				 				Zhanning Gao, Jianru Xue, Wengang Zhou, Shanmin Pang, and Qi Tian
				 			</em>
				 			<p class="paper-proceeding">
				 				IEEE International Conference on Multimedia Retrieval (ICMR), 2015
				 			</p>
					 	</div></li>

					 	<li><div>
		 					<strong>
				 				Sign language recognition using 3D convolutional neural networks
				 			</strong><br>
				 			<em>
				 				Jie Huang, Wengang Zhou, Houqiang Li, and Weiping Li
				 			</em>
				 			<p class="paper-proceeding">
				 				IEEE International Conference on Multimedia and Expo (ICME), 2015
				 			</p>
					 	</div></li>

					 	<li><div>
		 					<strong>
				 				SOM: Semantic Obviousness Metric for Image Quality Assessment
				 			</strong><br>
				 			<em>
				 				Peng Zhang, Wengang Zhou, Lei Wu, and Houqiang Li
				 			</em>
				 			<p class="paper-proceeding">
				 				IEEE International Conference on Computer Vision and Pattern Recognition (CVPR), 2015
				 			</p>
					 	</div></li>

			 		</ol>


			<!-- Pubs in 2014 -->
			<h2 id="2014">2014</h2>
			 	<h4>Journal</h4>
			 		<ol>
			 			<li><div>
		 					<strong>
				 				Cross-Indexing of Binary SIFT Codes for Large-Scale Image Search
				 			</strong><br>
				 			<em>
				 				Zhen Liu, Houqiang Li, Liyan Zhang, Wengang Zhou, and Qi Tian
				 			</em>
				 			<p class="paper-proceeding">
				 				IEEE Transactions on Image Processing (TIP), vol. 23, no. 5, pp. 2047-2057, 2014
				 			</p>
					 	</div></li>

					 	<li><div>
		 					<strong>
				 				Towards codebook-free: scalable cascaded hashing for mobile image search
				 			</strong><br>
				 			<em>
				 				Wengang Zhou, Ming Yang, Houqiang Li, Xiaoyu Wang, Yuanqing Lin, and Qi Tian
				 			</em>
				 			<p class="paper-proceeding">
				 				IEEE Transactions on Multimedia (TMM), vol. 16, no. 3, pp. 601-611, 2014
				 			</p>
					 	</div></li>

					 	<li><div>
		 					<strong>
				 				Contextual hashing for large-scale image search
				 			</strong><br>
				 			<em>
				 				Zhen Liu, Houqiang Li, Wengang Zhou, Ruizhen Zhao, and Qi Tian
				 			</em>
				 			<p class="paper-proceeding">
				 				IEEE Transactions on Image Processing (TIP), vol. 23, no. 4, pp. 1606-1614, 2014
				 			</p>
					 	</div></li>

					 	<li><div>
		 					<strong>
				 				Encoding Spatial Context for Large Scale Partial-Duplicate Web Image Retrieval
				 			</strong><br>
				 			<em>
				 				Wengang Zhou, Houqiang Li, Yijuan Lu, and Qi Tian
				 			</em>
				 			<p class="paper-proceeding">
				 				Journal of Computer Science and Technology (JCST), vol. 29, no. 5, pp. 837-848, 2014
				 			</p>
					 	</div></li>

					 	<li><div>
		 					<strong>
				 				Fast and accurate near-duplicate image search with affinity propagation on the imageWeb
				 			</strong><br>
				 			<em>
				 				Lingxi Xie, Qi Tian, Wengang Zhou, and Bo Zhang
				 			</em>
				 			<p class="paper-proceeding">
				 				Journal of Computer Vision and Image Understanding (CVIU), vol. 124, pp. 31-41, 2014
				 			</p>
					 	</div></li>

			 		</ol>

			 	<h4>Conference</h4>
					<ol>
					 	<li><div>
		 					<strong>
				 				An effective representation for action recognition with human skeleton joints
				 			</strong><br>
				 			<em>
				 				Xingyang Cai, Wengang Zhou, and Houqiang Li
				 			</em>
				 			<p class="paper-proceeding">
				 				SPIE/COS Photonics Asia. International Society for Optics and Photonics, 2014
				 			</p>
					 	</div></li>

					 	<li><div>
		 					<strong>
				 				Fused one-vs-all mid-level features for fine-grained visual categorization
				 			</strong><br>
				 			<em>
				 				Xiaopeng Zhang, Hongkai Xiong, Wengang Zhou, and Qi Tian
				 			</em>
				 			<p class="paper-proceeding">
				 				ACM International Conference on Multimedia (MM), pp. 287-296, Full Paper, 2014
				 			</p>
					 	</div></li>

					 	<li><div>
		 					<strong>
				 				Search by Detection: Object-Level Feature for Image Retrieval
				 			</strong><br>
				 			<em>
				 				Shaoyan Sun, Wengang Zhou, Houqiang Li, and Qi Tian
				 			</em>
				 			<p class="paper-proceeding">
				 				International Conference on Internet Multimedia Computing and Service, pp. 46-49, 2014
				 			</p>
					 	</div></li>

					 	<li><div>
		 					<strong>
				 				A Threshold-based HMM-DTW Approach for Continuous Sign Language Recognition
				 			</strong><br>
				 			<em>
				 				Jihai Zhang, Wengang Zhou, and Houqiang Li
				 			</em>
				 			<p class="paper-proceeding">
				 				International Conference on Internet Multimedia Computing and Service, 2014
				 			</p>
					 	</div></li>

					 	<li><div>
		 					<strong>
				 				Evaluation on the Impact of Image Quality on Image Retrieval
				 			</strong><br>
				 			<em>
				 				Jing Wen, Wengang Zhou, Richang Hong, Meng Wang, and Qi Tian
				 			</em>
				 			<p class="paper-proceeding">
				 				International Conference on Internet Multimedia Computing and Service (ICIMCS), 2014
				 			</p>
					 	</div></li>

					 	<li><div>
		 					<strong>
				 				Bayes Merging of Multiple Vocabularies for Scalable Image Retrieval
				 			</strong><br>
				 			<em>
				 				Liang Zheng, Shengjin Wang, Wengang Zhou, and Qi Tian
				 			</em>
				 			<p class="paper-proceeding">
				 				IEEE International Conference on Computer Vision and Pattern Recognition (CVPR), 2014
				 			</p>
					 	</div></li>

			 		</ol>


			<!-- Pubs in 2013 -->
			<h2 id="2013">2013</h2>
			 	<h4>Journal</h4>
			 		<ol>
			 			<li><div>
		 					<strong>
				 				SIFT match verification by geometric coding for large-scale partial-duplicate Web image search
				 			</strong><br>
				 			<em>
				 				Wengang Zhou, Houqiang Li, Yijuan Lu, and Qi Tian
				 			</em>
				 			<p class="paper-proceeding">
				 				ACM Transactions on Multimedia Computing, Communications and Applications (TOMCCAP), vol. 9, no. 1, article 4, February, 2013
				 			</p>
					 	</div></li>
					
			 		</ol>

			 	<h4>Conference</h4>
					<ol>
			 			<li><div>
		 					<strong>
				 				Scale-based region growing for scene text detection
				 			</strong><br>
				 			<em>
				 				Junhua Mao, Houqiang Li, Wengang Zhou, Shuicheng Yan, and Qi Tian
				 			</em>
				 			<p class="paper-proceeding">
				 				The 21st ACM International Conference on Multimedia (MM"13), Full Paper, Acceptance Rate: 20%, Barcelona, Spain, October 21-25, 2013
				 			</p>
					 	</div></li>
			 		
			 		</ol>


			<!-- Pubs in 2012 -->
			<h2 id="2012">2012</h2>
			 	<h4>Journal</h4>
			 		<ol>
			 			<li><div>
		 					<strong>
				 				Principal visual word discovery for automatic license plate detection
				 			</strong><br>
				 			<em>
				 				Wengang Zhou, Houqiang Li, Yijuan Lu, and Qi Tian
				 			</em>
				 			<p class="paper-proceeding">
				 				IEEE Transactions on Image Processing (TIP), vol. 21, no. 6, pp. 4269-4279, 2012
				 			</p>
					 	</div></li>
			 		</ol>

			 	<h4>Conference</h4>
			 		<ol>
			 			<li><div>
		 					<strong>
				 				Binary SIFT: towards efficient feature matching verification for image search
				 			</strong><br>
				 			<em>
				 				Wengang Zhou, Houqiang Li, M. Wang, Yijuan Lu and Qi Tian
				 			</em>
				 			<p class="paper-proceeding">
				 				the 4th ACM International Conference on Internet Multimedia Computing and Service (ICIMCS 2012), Wuhan, China, September 9-11, pp. 1-6, 2012
				 			</p>
					 	</div></li>
					 	
			 			<li><div>
		 					<strong>
				 				Scalar quantization for large scale image search
				 			</strong><br>
				 			<em>
				 				Wengang Zhou, Yijuan Lu, Houqiang Li, and Qi Tian
				 			</em>
				 			<p class="paper-proceeding">
				 				ACM International Conference on Multimedia (MM), Full Paper (acceptance rate 20.2%), 2012
				 			</p>
					 	</div></li>

			 			<li><div>
		 					<strong>
				 				Embedding spatial context information into inverted file for large-scale image retrieval
				 			</strong><br>
				 			<em>
				 				Zhen Liu, Houqiang Li, Wengang Zhou, and Qi Tian
				 			</em>
				 			<p class="paper-proceeding">
				 				ACM International Conference on Multimedia (MM), Full Paper (acceptance rate 20.2%), 2012
				 			</p>
					 	</div></li>

			 			<li><div>
		 					<strong>
				 				Query expansion enhancement by fast binary matching
				 			</strong><br>
				 			<em>
				 				Xia Li, Wengang Zhou, J. Tang, and Qi Tian
				 			</em>
				 			<p class="paper-proceeding">
				 				ACM International Conference on Multimedia (MM), Short Paper (acceptance rate 31.2%), 2012
				 			</p>
					 	</div></li>

			 			<li><div>
		 					<strong>
				 				Attribute-assisted reranking for Web image retrieval
				 			</strong><br>
				 			<em>
				 				Junjie Cai, Zheng-jun. Zha, Wengang Zhou, and Qi Tian
				 			</em>
				 			<p class="paper-proceeding">
				 				ACM International Conference on Multimedia (MM), Short Paper (acceptance rate 31.2%), 2012
				 			</p>
					 	</div></li>

			 			<li><div>
		 					<strong>
				 				Image tag re-ranking by coupled probability transition
				 			</strong><br>
				 			<em>
				 				Jie Xiao, Wengang Zhou, Xia Li, Meng Wang, and Qi Tian
				 			</em>
				 			<p class="paper-proceeding">
				 				 ACM International Conference on Multimedia (MM), Short Paper (acceptance rate 31.2%), 2012
				 			</p>
					 	</div></li>

			 			<li><div>
		 					<strong>
				 				Exploring tag relevance for image tag re-ranking
				 			</strong><br>
				 			<em>
				 				Jia Xiao, Wengang Zhou, and Qi Tian
				 			</em>
				 			<p class="paper-proceeding">
				 				 International ACM conference on Research and Development in Information Retrieval (SIGIR 2012), pp. 1069-1070, 2012
				 			</p>
					 	</div></li>
			 		</ol>

			
			<!-- Pubs in 2011 -->
			<h2 id="2011">2011</h2>
			 	<h4>Journal</h4>
			 		<ol>
			 			<li><div>
		 					<strong>
				 				Building descriptive and discriminative visual codebook for large-scale image applications
				 			</strong><br>
				 			<em>
				 				Qi Tian, Shiliang Zhang, Wengang Zhou, Rongrong Ji, Bingbing Ni, Nicu Sebe
				 			</em>
				 			<p class="paper-proceeding">
				 				International Journal of Multimedia Tools and Applications, vol. 51, no. 2, pp.441-477, 2011
				 			</p>
					 	</div></li>

					 	<li><div>
		 					<strong>
				 				Modeling spatial and semantic cues for large-scale near-duplicated image retrieval
				 			</strong><br>
				 			<em>
				 				Shiliang Zhang, Qi Tian, Gang Hua，Wengang Zhou，Qingming Huang，Houqiang Li，and Wen Gao
				 			</em>
				 			<p class="paper-proceeding">
				 				Journal of Computer Vision and Image Understanding, vol. 115, no. 3, pp. 403-414, 2011
				 			</p>
					 	</div></li>

					 	<li><div>
		 					<strong>
				 				Latent visual context learning for web image applications
				 			</strong><br>
				 			<em>
				 				Wengang Zhou, Q Tian, Yijuan Lu, and Houqiang Li
				 			</em>
				 			<p class="paper-proceeding">
				 				Pattern Recognition, vol. 44, no. 10-11, pp.2263-2273 2011
				 			</p>
					 	</div></li>
			 		</ol>

			 	<h4>Conference</h4>
			 		<ol>
			 			<li><div>
		 					<strong>
				 				Large scale image retrieval with geometric coding
				 			</strong><br>
				 			<em>
				 				Wengang Zhou, Houqiang Li, Yijuan Lu, and Qi Tian	
				 			</em>
				 			<p class="paper-proceeding">
				 				ACM International Conference on Multimedia (MM), Short paper (acceptance rate: 36.3%, 120 out of 331), Scottsdale, Arizona, Nov. 28-Dec. 1, pp.1349-1352, 2011
				 			</p>
					 	</div></li>
			 		</ol>

			
			<!-- Pubs in 2010 -->
			<h2 id="2010">2010</h2>
			 	<h4>Journal</h4>
			 		<ol>
			 			<li><div>
		 					<strong>
				 				Active contours with selective local or global segmentation: A new formulation and level set method
				 			</strong><br>
				 			<em>
				 				Kaihua Zhang, Lei Zhang, Huihui Song, and Wengang Zhou
				 			</em>
				 			<p class="paper-proceeding">
				 				Image Vision Computing, vol. 28, no. 4, pp. 668-676, 2010
				 			</p>
					 	</div></li>
			 		</ol>

			 	<h4>Conference</h4>
			 		<ol>
			 			<li><div>
		 					<strong>
				 				Spatial coding for large scale partial-duplicate web image search
				 			</strong><br>
				 			<em>
				 				Wengang Zhou, Yijuan Lu, Houqiang Li, Y. Song, and Qi Tian	
				 			</em>
				 			<p class="paper-proceeding">
				 				ACM International Conference on Multimedia (MM), Full Paper (acceptance rate: 16%), Florence, Italy, October 25-29, pp.131-140, 2010
				 			</p>
					 	</div></li>

			 			<li><div>
		 					<strong>
				 				Large scale partially duplicated web image retrieval
				 			</strong><br>
				 			<em>
				 				Wengang Zhou, Yijuan Lu, Houqiang Li, Y. Song, and Qi Tian
				 			</em>
				 			<p class="paper-proceeding">
				 				Demo paper at ACM International Conference on Multimedia (MM), Florence, Italy, October 25-29, pp. 1523-1524, 2010
				 			</p>
					 	</div></li>

			 			<li><div>
		 					<strong>
				 				Latent visual context analysis for image re-ranking
				 			</strong><br>
				 			<em>
				 				Wengang Zhou, Qi Tian, L. Yang, and Houqiang Li
				 			</em>
				 			<p class="paper-proceeding">
				 				ACM International Conference on Image and Video Retrieval (CIVR), Xi'an，China, July 5-7, pp.205-212, 2010
				 			</p>
					 	</div></li>

			 			<li><div>
		 					<strong>
				 				Canonical image selection by visual context learning
				 			</strong><br>
				 			<em>
				 				Wengang Zhou, Yijuan Lu, Houqiang Li, and Qi Tian
				 			</em>
				 			<p class="paper-proceeding">
				 				International Conference on Pattern Recognition (ICPR)，August 23-26, Istanbul, Turkey, pp.834-837, 2010
				 			</p>
					 	</div></li>

			 			<li><div>
		 					<strong>
				 				Large scale partial-duplicate image retrieval with bi-Space quantization and geometric consistency
				 			</strong><br>
				 			<em>
				 				Wengang Zhou, Houqiang Li, Yijuan Lu, and Qi Tian
				 			</em>
				 			<p class="paper-proceeding">
				 				IEEE International Conference on Acoustics，Speech，and Signal Processing (ICASSP)，March 14-19, pp. 2394-2397, 2010
				 			</p>
					 	</div></li>
			 		</ol>

			
			<!-- Pubs in before 2010 -->
			<h2 id="before2010">Before 2010</h2>
			 	<h4>Journal</h4>
			 		<ol>
					 	<li><div>
		 					<strong>
				 				Active contours based on image Laplacian fitting energy
				 			</strong><br>
				 			<em>
				 				Kaihua Zhang, S. Xu, Wengang Zhou, and Bo Liu
				 			</em>
				 			<p class="paper-proceeding">
				 				Chinese of Journal Electronics (English version), vol. 18, no. 2, pp. 281-284, 2009
				 			</p>
					 	</div></li>

					 	<li><div>
		 					<strong>
				 				3D neuron dendritic spine detection and dendrite reconstruction
				 			</strong><br>
				 			<em>
				 				Wengang Zhou, Houqiang Li，and Xiaobo Zhou
				 			</em>
				 			<p class="paper-proceeding">
				 				International Journal of Computer Aided Engineering and Technology, vol. 1, no. 4, pp. 516-531, 2009
				 			</p>
					 	</div></li>

					 	<li><div>
		 					<strong>
				 				Improved CV active contour model
				 			</strong><br>
				 			<em>
				 				Kaihua Zhang, Wengang Zhou, Zhen Zhang, and Xiaojuan Zheng
				 			</em>
				 			<p class="paper-proceeding">
				 				Opto-Electronic Engineering, vol. 35, no. 12, 2008
				 			</p>
					 	</div></li>
			 		</ol>

			 	<h4>Conference</h4>
			 		<ol>
			 			<li><div>
		 					<strong>
				 				Visual block link analysis for image re-ranking
				 			</strong><br>
				 			<em>
				 				Wengang Zhou, Qi Tian, Houqiang Li
				 			</em>
				 			<p class="paper-proceeding">
				 				ACM International Conference on Internet Multimedia Computing and Services (ICIMCS)，Kunming，China，November 23-25, pp.14-20, 2009
				 			</p>
					 	</div></li>

			 			<li><div>
		 					<strong>
				 				3D dendrite reconstruction and spine identification
				 			</strong><br>
				 			<em>
				 				Wengang Zhou, Houqiang Li，and Xiaobo Zhou
				 			</em>
				 			<p class="paper-proceeding">
				 				International Conference on Medical Image Computing and Computer Assisted Intervention (MICCAI), Sept. 6-10, pp.18-26, 2008
				 			</p>
					 	</div></li>

			 			<li><div>
		 					<strong>
				 				Wengang Zhou, Houqiang Li, Xiaobo Zhou, and Stephen Wong
				 			</strong><br>
				 			<em>
				 				Wengang Zhou, Houqiang Li, Yijuan Lu, and Qi Tian
				 			</em>
				 			<p class="paper-proceeding">
				 				 International Symposium on Computational Models for Life Sciences (CMLS), Dec. 17-19, pp.137-146, 2007
				 			</p>
					 	</div></li>
			 		</ol>


			</div>
		</div>
	</div>
	<!-- 网页内容 -->
		
	<!-- 页面底部版权声明 -->
	<div class="container">
		<footer class="footer">
			<p>&copy; 2017 1210 Lab</p>
		</footer>
	</div>
	<!-- 页面底部版权声明 -->

	<!-- Js 文件 -->
	<script src="{% static "js/jquery.min.js" %}"></script>
	<script src="{% static "js/bootstrap.min.js" %}"></script>
	<!-- Js 文件 -->
	<!-- Js 文件 -->


<!-- return-to-top bar -->
<a id="back-to-top" href=" " class="btn btn-primary btn-lg back-to-top" role="button" title="Click to return on the top page" data-toggle="tooltip" data-placement="left"><span>Top</span></a >

<script type="text/javascript">
		$(document).ready(function(){
     $(window).scroll(function () {
            if ($(this).scrollTop() > 50) {
                $('#back-to-top').fadeIn();
            } else {
                $('#back-to-top').fadeOut();
            }
        });
        // scroll body to 0px on click
        $('#back-to-top').click(function () {
            $('#back-to-top').tooltip('hide');
            $('body,html').animate({
                scrollTop: 0
            }, 800);
            return false;
        });
        
        $('#back-to-top').tooltip('show');

	});
</script>


</body>
</html>
