<!DOCTYPE html>
<html lang="en">
<head>
	{% load staticfiles %}
	<meta charset="utf-8"> 
	<title>Links</title>
	
	<link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
	<link rel="stylesheet" href="{% static "css/index.css" %}">
	<style type="text/css">
		div.topshootbar {
		    margin: 0px 0px 0px 0px;
		    padding: 0px;
/*		    border: solid #3399FF;*/
		    border-width: 0px 0px 1px 1px;
		    letter-spacing: 0.05em;
		    font-size: 100%;
		}
		ol {
			font-weight: bold;
		}
		em {
			font-weight: normal;
		}
		.paper-proceeding {
			font-weight: normal;
		}
	</style>
</head>
<body>
	<!-- 导航条 -->
	<div class="navbar navbar-inverse navbar-fixed-top" role="navagtion">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse-1">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				
			</div>
			<div class="collapse navbar-collapse" id="collapse-1">
				<ul class="nav navbar-nav">
					<li><a href="/home">Home</a>
					<li><a href="/people">People</a>
					<li><a href="/publications">Publications</a>
					<li><a href="/docs">Docs</a>
					<li><a href="/gallery">Gallery</a>
					<li><a href="/access">Access</a>
				</ul>
			</div>
		</div>
	</div>
	<!-- 导航条 -->

	<!-- 网页内容 -->
	<div class="container">
		<div class="row">
			<div class="col-md-10">
			 <h1 align="center">Publications</h1>
			 <div class="topshootbar">
				 [<a href="#2017">2017</a>]&nbsp;&nbsp;&nbsp;
				 [<a href="#2016">2016</a>]&nbsp;&nbsp;&nbsp;
				 [<a href="#2015">2015</a>]&nbsp;&nbsp;&nbsp;
				 [<a href="#2014">2014</a>]&nbsp;&nbsp;&nbsp;
				 [<a href="#2013">2013</a>]&nbsp;&nbsp;&nbsp;
				 [<a href="#2012">2012</a>]&nbsp;&nbsp;&nbsp;
				 [<a href="#2011">2011</a>]&nbsp;&nbsp;&nbsp;
				 [<a href="#2010">2010</a>]&nbsp;&nbsp;&nbsp;
				 [<a href="#before2010">Before 2010</a>]
			 </div>
			 <h2 id="2017">2017</h2>
			 	<h4>Journal</h4>
			 		<ol>
			 			<li><div>
		 					<strong>
				 				Local Residual Similarity for Image Re-ranking
				 			</strong><br>
				 			<em>
				 				Shaoyan Sun, Ying Li, Wengang Zhou, Qi Tian, and Houqiang Li
				 			</em>
				 			<p class="paper-proceeding">
				 				Information Sciences, July 2017
				 			</p>
					 	</div></li>


			 		</ol>

			 	<h4>Conference</h4>
					<ol>
			 			<li><div>
		 					<strong>
				 				Local Residual Similarity for Image Re-ranking
				 			</strong><br>
				 			<em>
				 				Shaoyan Sun, Ying Li, Wengang Zhou, Qi Tian, and Houqiang Li
				 			</em>
				 			<p class="paper-proceeding">
				 				Information Sciences, July 2017
				 			</p>
					 	</div></li>

					 	
			 		</ol>

			 <h2 id="2016">2016</h2>
			</div>
		</div>
	</div>
	<!-- 网页内容 -->
		
	<!-- 页面底部版权声明 -->
	<div class="container">
		<footer class="footer">
			<p>&copy; 2017 1210 Lab</p>
		</footer>
	</div>
	<!-- 页面底部版权声明 -->

	<!-- Js 文件 -->
	<script src="{% static "js/jquery.min.js" %}"></script>
	<script src="{% static "js/bootstrap.min.js" %}"></script>
	<!-- Js 文件 -->
	<!-- Js 文件 -->
</body>
</html>
